<div class="wrapper">
  <div class="naveg">
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
          <div class="container-fluid">
            <a class="navbar-brand">Cards de Apresentação</a>
          </div>
        </nav>
  </div>

  <div class="fundoCorpo fundoFundoDiego">
      <div class="fundoCard diegoFundo">
          <div class="card diegoFundoCard">
              <img src="../../assets/sapo2.png" class="sapo1"/>
              <img src="../../assets/sapo3.png" class="sapo2"/>
              <div class="picMoldura diegoMoldura">
                  <img src="../../assets/Diego.jpeg" class="foto"/>
              </div>
              <div class="wrapperInfo">
                  <div class="wrapperNome">
                      <h4>Diego Francischette Blanco</h4>
                  </div>
                  <ul class="list-group">
                      <li class="list-group-item">
                          <img src="../../assets/perfil.svg" class="iconMini"/>
                          • 17 anos</li>
                      <li class="list-group-item">
                          <img src="../../assets/book.svg" class="iconMini"/>
                          • 3º ano do curso técnico de Desenvolvimento de Sistemas</li>
                      <li class="list-group-item">
                          <img src="../../assets/fala.svg" class="iconMini"/>
                          • Sempre me interessei pela programação e por isso
                          estudo para desenvolver meus próprios projetos.
                      </li>
                      <li class="list-group-item">
                          <img src="../../assets/headphones.svg" class="iconMini"/>
                          • No meu tempo livre gosto de desenhar e jogar videogame
                          (meu favorito é TLOZ: Majora's Mask)
                          <img src="../../assets/majora.png" class="iconMini"/>
                      </li>
                      <li class="list-group-item">
                          <img src="../../assets/coracao.svg" class="iconMini"/>
                          • Amo minha namorada
                          <img src="../../assets/anel.png" class="iconMini"/>
                      </li>
                      <li class="list-group-item">
                          <a href="https://github.com/DiegoDFB">
                              <img src="../../assets/github.svg" class="logo"/>
                          </a>
                          <a href="https://www.instagram.com/diego.fblanco/">
                              <img src="../../assets/instagram.svg" class="logo"/>
                          </a>
                          <a href="https://open.spotify.com/user/0w7yu4ey7934qizj7e8bqgzrg?si=f1c29bdfb80b48e2">
                              <img src="../../assets/spotify.svg" class="logo"/>
                          </a>
                      </li>
                    </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="fundoCorpo fundoFundoArthur">
      <div class="fundoCard arthurFundo">
          <div class="card arthurFundoCard">
            <img src="../../assets/feitan.png" class="iconMini feitan"/>
              <div class="picMoldura arthurMoldura">
                  <img src="../../assets/arthur.jpeg" class="foto"/>
              </div>
              <div class="wrapperInfo">
                  <div class="wrapperNome">
                      <h4>Arthur de Jesus Lima</h4>
                  </div>
                  <ul class="list-group">
                      <li class="list-group-item">
                          <img src="../../assets/perfil.svg" class="iconMini"/>
                          • 17 anos</li>
                      <li class="list-group-item">
                          <img src="../../assets/book.svg" class="iconMini"/>
                          • 3º ano do curso técnico de Desenvolvimento de Sistemas</li>
                      <li class="list-group-item">
                          <img src="../../assets/headphones.svg" class="iconMini"/>
                          • Costumo ouvir música e gosto de artistas como
                          Playboi Carti, costabilekidd e Destroy Lonely. Gosto também de me
                          vestir bem, sair com meus amigos e assistir alguma coisa, seja séries,
                          desenhos, filmes ou animes.
                      </li>
                      <li class="list-group-item">
                          <a href="https://github.com/ArthurLimaJ">
                              <img src="../../assets/github.svg" class="logo"/>
                          </a>
                          <a href="https://www.instagram.com/fvkkallu?igsh=MTU4ejZrbDdrd2F5Ng==">
                              <img src="../../assets/instagram.svg" class="logo"/>
                          </a>
                          <a href="https://open.spotify.com/user/arthurofg?si=p8Co8jzFSDiDWyPEauqj7A">
                              <img src="../../assets/spotify.svg" class="logo"/>
                          </a>
                          <a href="https://www.last.fm/user/kallu90s">
                              <img src="../../assets/logoLastfm.png" class="logo"/>
                          </a>
                      </li>
                    </ul>
              </div>
          </div>
      </div>
  </div>

  <div class="footer">

  </div>
</div>

